---
import CardBlog from "@/Components/cardBlog.astro"
import Layout from "@/layout/layout.astro"
---

<Layout title="Home | Cafe Estela">
	<h1>
		asfasdfas
	</h1>
	<h2>adios
	
	</h2>
	<p>hola que tal a todos soy un parrafo</p>

	<br>
	<CardBlog heading="Esto es una receta" link="#"/>
</Layout>
